header {
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

header > span {
    margin-left: 1rem;
}